@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-primary: #FFBF19;
  --color-secondary: linear-gradient(90deg, #664AC1 0%, #30235B 100%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: #FFF8E7;
  color: var(--foreground);
  font-family: "Poppins";
}
